body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;

}
section{
    display: flex;
    margin-bottom: 100px;
}
p{
    
}

.link-button{
    text-decoration: none;
    
    /*background-color:greenyellow; */
    background-image:linear-gradient(yellowgreen, skyblue);
    padding: 12px 38px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;


}
.half-width{

    width: 50%;
    padding-left: 3%;

}
.half-width img{
    width: 85%;
}
.color{
    color: blueviolet;
}
.top-side{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.high-hopes{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}